<div class="container-fluid">
    <div style="padding-left: 20px; padding-top: 15px;">
        <button class="btn btn-success" routerLink="/dashboard/add-crops">Add Crop</button>
    </div>
    <div class="row" style="padding-left: 20px; padding-top: 15px;">

        <div class="col-3" style="padding-bottom: 50px;">

            <div class="card" style="width: 18rem;">
                <div class="card-title">
                    <img src="..\..\..\..\assets\images\farm1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Crop Name</h5>
                        <p class="card-text">Crop Status</p>
                        <a class="btn btn-farmerapp">Add Activity</a>
                    </div>
                </div>
        </div>
    </div>
</div>