.paddingLogin {
    padding-top: 10%;
}

.bg-imge {
    background-image: url('../../../assets/images/bg_farm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-bg {
    background-color: rgba(255, 255, 255, 0.789);
}

.b-r-5 {
    border-radius: 25px;
}