<section class="container-fluid bg-imge">
        <div class="row">
          <div class="col-md-4"></div>
              <div class="col-md-4 paddingLogin">
                <div class="img-fluid text-center pb-3"  >
                  <img src="assets/images/user.png">
                </div>

                <div>
                    <input type="text" class="form-control _ge_de_ol" type="text" placeholder="First Name*" required="" aria-required="true"
                    [(ngModel)]="userCredentialModel['userFirstName']" id="userFirstName" #userID="ngModel" />
                  </div>

                <div>
                    <input type="text" class="form-control _ge_de_ol" type="text" placeholder="Last Name"
                    [(ngModel)]="userCredentialModel['userLastName']" id="userLastName" #userID="ngModel" />
                </div>

                <div>
                    <input type="text" class="form-control _ge_de_ol" type="text" placeholder="Mobile Number"
                    [(ngModel)]="userCredentialModel['userMobileNumber']" id="userMobileNumber" #userID="ngModel" />
                </div>

                <div>
                    <input type="email" name="email" class="form-control _ge_de_ol" type="text" placeholder="Email*" required="" aria-required="true"
                    [(ngModel)]="userCredentialModel['emailID']" id="emailID" #userID="ngModel" />
                </div>

                <div>
                    <input type="password" name="password" class="form-control _ge_de_ol" placeholder="Set Password*" required="" aria-required="true"
                    [(ngModel)]="userCredentialModel['password']" id="password" #password="ngModel" />
                </div>

                <div>
                    <button type="submit" class="_btn_04" (click)="setInfo(userCredentialModel)">Register</button>
                </div>
                <div class="form-group-02 text-center">
                  Already have an account? <a routerLink="">Log in</a>
                </div>
              </div>
        </div>
</section>