
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../../../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../../../assets/css/style.css" rel="stylesheet">

  </head>
  <body>
    <section class="add-farm-bg">
        <div class="col-sm-12 text-start" style="padding: 10px;">

            <button class="btn btn-dark" routerLink="/dashboard">Go To dashboard </button>
        </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="_lk_de">
              <div class="form-03-main">

                <h1 style="text-align: center ;"><b>Add farm details</b></h1>

                <div class="form-group-02">
                    <input type="text" class="form-control _ge_de_ol" type="text" placeholder="Farm Name*" required="" aria-required="true"
                    [(ngModel)]="FarmModel['farmName']" id="farmName" #userID="ngModel"/>
                  </div>

                <div class="form-group-02">
                    <input type="text" class="form-control _ge_de_ol" type="text" placeholder="Details (acres, features etc.)"
                    [(ngModel)]="FarmModel['farmDescription']" id="userFirstName" #userID="ngModel"/>
                </div>

                <file-upload></file-upload>

                <div class="form-group-02">
                    <button type="submit" (click)="addFarm(FarmModel)" class="_btn_04">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>